.dmtd-page {
    padding: 10px;
    .dmtd-panel {
        .dmtd-panel-left {
            width: 300px;
            padding: 10px 0 10px 10px;
            background-color: #f8f8f8;
            margin-right: 10px;
            & > div {
                margin-bottom: 10px;
            }
            .dmtd-data {
                color: steelblue;
            }
            .dmtd-drag-data {
                background-color: #fff;
                padding: 8px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }
}

.dmtd-drag-helper {
    border: 2px solid #3a3;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    width: 200px;
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: 3;
}

dm-table {
    table.ngx-dmt {
        & > thead > tr.ngx-dmt-header-row {
            & > th.ngx-dmt-header-cell {
                &.th-icon {
                    padding: 2px;
                    text-overflow: clip;
                    text-align: center;
                    color: #080;
                    font-size: 18px;
                }
                &.th-name {
                    border-right: 2px solid #0070af !important;
                }
            }
        }
        & > tbody > tr.ngx-dmt-row {
            & > td.ngx-dmt-cell {
                &.td-icon {
                    padding: 2px;
                    text-overflow: clip;
                    text-align: center;
                    & > i {
                        color: #df7706;
                        font-size: 18px;
                        transition: all 0.3s;
                        display: block;
                        width: 25px;
                        height: 21px;
                    }
                }
                &.td-name {
                    border-right: 2px solid #0070af !important;
                    color: #0070af;
                }
            }
            &:hover > td.ngx-dmt-cell.td-icon > i {
                color: #080;
                font-size: 25px;
                transform: rotate(360deg);
            }
            &:hover {
                box-shadow: inset rgba(#0070af, .7) 0 0 3px 0;
            }
            &.dmt-selected {
                background-color: rgba(#0070af, .1) !important;
            }
        }
    }
}

.dm-divider, 
.dm-divider-vert {
    background-color: transparent;
    transition: all 0.2s;
    & > div.dm-divider-inner {
        border-color: #ccc;
        border-style: dashed;
        transition: all 0.2s;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            border-color: #999;
            border-style: solid;
        }
    }
}
.dm-divider {
    height: 7px;
    cursor: row-resize;
    & > div.dm-divider-inner {
        height: 3px;
        width: 50px;
        border-width: 1px 0;
        margin-left: 20px;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            width: 90%;
            width: calc(100% - 60px);
        }
    }
}
.dm-divider-vert {
    width: 7px;
    cursor: col-resize;
    & > div.dm-divider-inner {
        width: 3px;
        height: 50px;
        border-width: 0 1px;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            height: 90%;
            height: calc(100% - 60px);
        }
    }
}

.gray {
    background-color: rgba(0, 0, 0, .03);
}
