.dmtd-page {
    padding: 10px;
    .dmtd-panel {
        .dmtd-panel-left {
            width: 300px;
            padding: 10px;
            background-color: #f8f8f8;
            margin-right: 10px;
            & > div {
                margin-bottom: 10px;
            }
        }
    }
}

dm-table {
    table.ngx-dm-table {
        & > thead > tr {
            & > th {
                color: #0070af;
                &.th-icon {
                    padding: 2px;
                    text-overflow: clip;
                    text-align: center;
                    color: #080;
                    font-size: 18px;
                }
                &.th-name {
                    border-right: 2px solid #0070af !important;
                }
            }
        }
        & > tbody > tr {
            & > td.td-icon {
                padding: 2px;
                text-overflow: clip;
                text-align: center;
                & > i {
                    color: #df7706;
                    font-size: 18px;
                    transition: all 0.3s;
                    display: block;
                    width: 25px;
                    height: 21px;
                }
            }
            &:hover > td.td-icon > i {
                color: #080;
                font-size: 25px;
                transform: rotate(360deg);
            }
            & > td.td-name {
                border-right: 2px solid #0070af !important;
                color: #0070af;
            }
        }
    }
}
