<div class="dmtd-page layout fit vertical">
    <h1>DM-Table demo</h1>
    <div class="layout flex relative">

        <div class="dmtd-panel layout fit">
            <div class="dmtd-panel-left layout" [style.width.px]="divider['d1'].size">
                <div class="layout flex relative">
                    <div class="layout vertical fit scroll">
                        <b class="mb1 fs-l">Table options:</b>
                        <div class="layout center">
                            <span class="mr05">Number of lines:</span>
                            <nz-select style="width: 120px;"
                                [(ngModel)]="lines"
                                [nzLoading]="linesGenerating"
                                (ngModelChange)="updateData()">
                                <nz-option *ngFor="let ln of linesList" [nzValue]="ln" [nzLabel]="ln"></nz-option>
                            </nz-select>
                        </div>
                        <div class="layout center mt05">
                            <nz-switch nzSize="small" [(ngModel)]="stripes"></nz-switch>
                            <span class="ml05">Zebra stripped</span>
                        </div>
                        <div class="layout center mt1">
                            <nz-switch nzSize="small" [(ngModel)]="useController" (ngModelChange)="useSelectCol = useController ? useSelectCol : useController"></nz-switch>
                            <span class="ml05">Use DmTableController</span>
                        </div>
                        <div *ngIf="useController" class="layout center mt1 ml1">
                            <nz-switch nzSize="small" [(ngModel)]="useSelectCol" (ngModelChange)="updateSelectCol()"></nz-switch>
                            <span class="ml05">Show dedicated col for select</span>
                        </div>
                        <div *ngIf="useController" class="layout vertical mt1 ml1">
                            <b class="mb05">DmTableController state:</b>
                            <pre class="dmtd-data">{{ state | json }}</pre>
                        </div>
                        <div class="layout vertical mt1">
                            <b class="mb05">Current sort:</b>
                            <span class="dmtd-data">{{ (sort ? sort : 'NONE') | json }}</span>
                        </div>
                        <div class="layout vertical mt1">
                            <b class="mb05">Columns:</b>
                            <div *ngFor="let id of colsOrder" class="layout center">
                                <label nz-checkbox class="mb05"
                                    [nzDisabled]="hideAll"
                                    [(ngModel)]="colsVisibility[id]"
                                    (ngModelChange)="colsVisibility = Object.assign({}, colsVisibility)">
                                    id: <b>{{ id }}</b>, width: <b>{{ colsWidth[id] }}</b>
                                </label>
                            </div>
                            <div class="layout center mt1">
                                <nz-switch nzSize="small" [(ngModel)]="hideAll"></nz-switch>
                                <span class="ml05">Hide all columns except last</span>
                            </div>
                            <div class="layout center mt1">
                                <nz-switch nzSize="small" [(ngModel)]="dndEnabled"></nz-switch>
                                <span class="ml05">Enable rows Drag-n-Drop</span>
                            </div>
                            <div *ngIf="dndEnabled" class="layout center mt1 ml1">
                                <nz-switch nzSize="small" [(ngModel)]="multiLineDnd"></nz-switch>
                                <span class="ml05">Enable multiple rows Drag</span>
                            </div>
                            <div *ngIf="dndEnabled" class="layout center mt1 ml1">
                                <nz-switch nzSize="small" [(ngModel)]="evenRowDrop"></nz-switch>
                                <span class="ml05">Allow drop only or rows with even id</span>
                            </div>
                        </div>
                        <div class="layout vertical mt1">
                            <button nz-button (click)="resetWidths()">Reset columns widths</button>
                        </div>
                        <div *ngIf="dragging" class="layout vertical mt1">
                            <b>Dragging:</b>
                            <span class="dmtd-drag-data">{{ dragging | json }}</span>
                        </div>
                        <div *ngIf="dropped" class="layout vertical mt1">
                            <b>Dropped:</b>
                            <pre class="dmtd-drag-data">{{ dropped | json }}</pre>
                        </div>
                    </div>
                </div>
                <div dm-divider class="dm-divider-vert layout center-center" style="width: 12px"
                    [enabled]="true"
                    [class.dm-divider-moving]="divider['d1'].moving"
                    (dmDividerDragStart)="dividerDragStart('d1', $event)"
                    (dmDividerDragEnd)="dividerDragEnd('d1', $event)"
                    (dmDividerMove)="dividerMove('d1', $event)">
                    <div class="dm-divider-inner"></div>
                </div>
            </div>

            <div class="layout flex relative">
                <div class="layout fit scroll">
                    <dm-table #example1
                        [data]="useController ? controller : data"
                        [class.ngx-dmt-stripes]="stripes"
                        [defaultColumnConfig]="{ minWidth: 200 }"
                        [rowClasses]="{ 'dmt-selected': selectedFn }"
                        [colsVisibility]="hideAll ? { '8': true } : colsVisibility"
                        [(colsWidth)]="colsWidth"
                        [(colsOrder)]="colsOrder"
                        [(sort)]="sort"
                        [rowsDragEnabled]="dndEnabled"
                        [rowsDropEnabled]="dndEnabled"
                        [rowDropAllowed]="dropAllowedFn"
                        (rowClick)="rowClick($event)"
                        (rowDragStart)="onRowDragStart($event)"
                        (rowDragEnd)="onRowDragEnd($event)"
                        (rowDrop)="onRowDrop($event)"
                        [trackBy]="trackBy"
                        [showSelectColumn]="useSelectCol"
                        selectColumnWidth="40">
                        <ng-template #selectColumnHeader let-all="all" let-none="none">
                            <div style="text-align: center">
                                <label nz-checkbox [ngModel]="all" [nzIndeterminate]="!all && !none" (ngModelChange)="controller.setAllSelected(!none)"></label>
                            </div>
                        </ng-template>
                        <ng-template #selectColumn let-checked let-row="row">
                            <div style="text-align: center">
                                <label nz-checkbox [ngModel]="checked" (ngModelChange)="controller.toggleSelected(row[0])"></label>
                            </div>
                        </ng-template>
                        <dm-column
                            minWidth="38"
                            resizable="false"
                            sortable="false"
                            headerTooltip="width=38, not resizable">
                            <ng-template #cell let-item>
                                <label nz-checkbox [(ngModel)]="selected[item]"></label>
                            </ng-template>
                        </dm-column>
                        <dm-column
                            title="Numbers"
                            width="100"
                            minWidth="50"
                            maxWidth="150"
                            sortable="true"
                            sort="number"
                            cellClass="tar gray"
                            [cellClasses]="{ red: isEvenFn }"
                            headerTooltip="minWidth=50, maxWidth=150, sortable as numbers, custom cell CSS class, resizable">
                        </dm-column>
                        <dm-column
                            minWidth="160"
                            headerClass="th-name"
                            cellClass="td-name"
                            sortable="true"
                            [sort]="customSort">
                            <ng-template #header>
                                <div class="tal" nz-tooltip nzTooltipTitle="custom header and cell template, custom header tooltip, minWidth=160, custom sort function">
                                    <i style="color: red">
                                        <i class="dmtd-crown-king-1 mr025 top1"></i>
                                        <u>Great people</u>
                                    </i>
                                </div>
                            </ng-template>
                            <ng-template #cell let-item>
                                <div class="layout center">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="ml05">{{ item.name }}</span>
                                </div>
                            </ng-template>
                        </dm-column>
                        <dm-column
                            title="String w spaces"
                            minWidth="70"
                            headerTooltip="minWidth=70, sortable, resizable">
                        </dm-column>
                        <dm-column
                            title="String w/o spaces"
                            minWidth="70"
                            headerTooltip="minWidth=70, sortable, resizable">
                        </dm-column>
                        <dm-column
                            minWidth="30"
                            maxWidth="30"
                            resizable="false"
                            headerClass="th-icon"
                            cellClass="td-icon"
                            headerTooltip="custom header and cell template and css classes, fixed width, not sortable">
                            <ng-template #header><i class="dmtd-yang-ying"></i></ng-template>
                            <ng-template #cell let-icon><i [ngClass]="icon"></i></ng-template>
                        </dm-column>
                        <dm-column
                            title="Number and string"
                            sortable="true"
                            headerTooltip="default minWidth(set on table level), sortable as strings, resizable">
                        </dm-column>
                        <dm-column
                            title="Boolean"
                            sortable="true"
                            sort="boolean"
                            headerTooltip="default minWidth(set on table level), sortable as booleans, resizable">
                        </dm-column>
                        <dm-column
                            title="Random length string w spaces"
                            flexible="true"
                            sortable="true"
                            headerTooltip="default minWidth, sortable, flexible(primary target for resizing when you resize other columns)">
                        </dm-column>
                    </dm-table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="dmtd-drag-helper" [style.display]="dragging && multiLineDnd ? 'block' : 'none'" #dragHelper>
    {{ dragIds?.length }} row(s) dragging.
</div>
