<div class="dmtd-page layout fit vertical">
    <h1>DM-Table demo</h1>
    <div class="layout flex relative">

        <div class="dmtd-panel layout fit">
            <div class="dmtd-panel-left layout vertical">
                <b class="mb1 fs-l">Table options:</b>
                <div class="layout center">
                    <span class="mr05">Number of lines:</span>
                    <nz-select style="width: 120px;"
                        [(ngModel)]="lines"
                        [nzLoading]="linesGenerating"
                        (ngModelChange)="linesGenerating = true; generateData();">
                        <nz-option *ngFor="let ln of linesList" [nzValue]="ln" [nzLabel]="ln"></nz-option>
                    </nz-select>
                </div>
                <div class="layout center">
                    <nz-switch nzSize="small" [(ngModel)]="stripes"></nz-switch>
                    <span class="ml05">Zebra stripped</span>
                </div>
            </div>

            <div class="layout flex relative">
                <div class="layout fit scroll">
                    <dm-table #example1 [rows]="data" [stripes]="stripes" [sort]="{ index: 0, order: -1 }">
                        <dm-column title="ID" minWidth="70" maxWidth="150" sortable="true" sort="number"></dm-column>
                        <dm-column width="250" minWidth="100" maxWidth="250" resizeable="false" headerClass="th-name" cellClass="td-name" sortable="true" [sort]="customSort">
                            <ng-template #header>
                                <div class="tal">
                                    <i style="color: red">
                                        <i class="dmtd-crown-king-1 mr025 top1"></i>
                                        <u>Custom tpl, custom sort</u>
                                    </i>
                                </div>
                            </ng-template>
                            <ng-template #cell let-item>
                                <div class="layout center">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="ml05">{{ item.name }}</span>
                                </div>
                            </ng-template>
                            <!-- <ng-template #footer>
                                Footer
                            </ng-template> -->
                        </dm-column>
                        <dm-column title="String w spaces" minWidth="70" width="200"></dm-column>
                        <dm-column title="String w/o spaces" minWidth="70" width="200"></dm-column>
                        <dm-column width="30" resizeable="false" headerClass="th-icon" cellClass="td-icon">
                            <ng-template #header><i class="dmtd-yang-ying"></i></ng-template>
                            <ng-template #cell let-icon><i [ngClass]="icon"></i></ng-template>
                        </dm-column>
                        <dm-column title="Sort as strings" width="400" sortable="true"></dm-column>
                        <dm-column title="Sort as boolean" width="100" sortable="true" sort="boolean"></dm-column>
                        <dm-column title="Random length string w spaces" sortable="true"></dm-column>
                    </dm-table>
                </div>
            </div>
        </div>

    </div>
</div>
